@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'),
      url('../assets/fonts/Roboto-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'CeraPro';
    src: local('CeraPro-Regular'),
      url('../assets/fonts/CeraPro-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
  font-family: 'CeraProMedium';
  src: local('CeraPro-Medium'),
    url('../assets/fonts/CeraPro-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
    font-family: 'Museo300';
    src: local('Museo300-Regular'),
      url('../assets/fonts/Museo300-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}